{% extends 'asset/layout.html' %}
{% block content %}
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i>
            Online Events
        </div>
        <div class="panel-body">
            (Recent online events are displayed here.)
            <ul>
                <li>{{events_count_error}} events need your attention.</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-desktop fa-fw"></i>
            Hosts
        </div>
        <div class="panel-body">
            <ul>
                <li>{{hosts_count_active}} active instances</li>
                <li>{{hosts_count_error}} unhealthy instances</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
