{% extends "asset/layout.html" %}
{% block content %}
<form action="." method="GET">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <label for="iFilterRegionName">Region:</label>
                    <input class="form-control" name="region_name" type="text" id="iFilterRegionName" value="{{filters.region_name}}" />
                </div>
                <div class="col-md-3">
                    <label for="iFilterEventState">Event State:</label>
                    <input class="form-control" name="event_state" type="text" id="iFilterEventState" value="{{filters.event_state}}" />
                </div>
                <div class="col-md-3">
                    <label for="iFilterResourceType">Resource Type:</label>
                    <input class="form-control" name="resource_type" type="text" id="iFilterResourceType" value="{{filters.resource_type}}" />
                </div>
                <div class="col-md-2">
                    <label>Filter:</label>
                    <input class="btn btn-primary form-control" type="submit" id="iFilterSubmit" value="Apply" />
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>SOURCE</th>
            <th>RESOURCE TYPE</th>
            <th>EVENT TYPE</th>
            <th>RESOURCE ID</th>
            <th>EVENT STATE</th>
            <th>CREATED AT</th>
            <th>REGION</th>
            <th>EVENT LOGS</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr class="{{event.event_state}}">
            <td>{{event.source}}</td>
            <td>{{event.resource_type}}</td>
            <td>{{event.event_type}}</td>
            <td>{{event.resource_id}}</td>
            <td>{{event.event_state}}</td>
            <td>{{event.created_at|date:"Y-m-d H:i:s"}}</td>
            <td>{{event.region.name}}</td>
            <td>
                <a href="{% url 'event_logs' %}?id={{event.id}}">View Logs</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
